{% include "header.html" %}

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    {% if current_user.is_authenticated %}
                    <h1>Hello, <span>{{ current_user.name }}</span>!</h1>
                    <h2>Create a new list and start organising your life and work.</h2>
                    <div class="text-center text-lg-start">
                        <a href="#login" class="btn-get-started scrollto">Get Started</a>
                    </div>
                    {% else %}
                    <h1>Make a Plan and <span>Do It</span></h1>
                    <h2>Join ToDoer to create a new list and start organising your life and work!</h2>
                    <div class="text-center text-lg-start">
                        <a href="#login" class="btn-get-started scrollto">Get Started</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>

</section><!-- End Hero -->

<main id="main">

     <!-- ======= login Section ======= -->
    <section id="login" class="login">
      <div class="container">
          {% if current_user.is_authenticated %}
          <div class="section-title" data-aos="fade-up">
                <h2>Deck</h2>
              <p>Make a list now!</p>
              <a href="{{ url_for('show_decks', user_id=current_user.id)}}" class="btn-get-started scrollto">Go to Deck</a>
            </div>
          {% else %}
          <div class="section-title" data-aos="fade-up">
                <h2>Log In</h2>
              <p>Log In or <a href="{{ url_for('register') }}" class="register-btn">Sign Up</a> now!</p>
            </div>

        <div class="row content">
            <form method="post" action="{{ url_for('home') }}">
                        <div class="row">
                            {{ form.csrf_token }}

                            <div class="col-lg-12 mt-5 mt-lg-0" style="padding: 0 20%;">
                                 <p style="color:#e9607a;">{% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %} </p>
                                {{ form.email.label }}
                                {{ form.email(class='form-control') }}
                                {{ form.password.label }}
                                {{ form.password(class='form-control')}}
                                {{ form.submit(class="btn-get-started")}}

                            </div>



                        </div>
                    </form>

          </div>

        </div>

    </section><!-- End login Section -->
    {% endif %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                       required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                   required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

{% include "footer.html" %}